USE [master]
GO
/****** Object:  Database [DBUniv1]    Script Date: 1/09/2025 10:04:04 ******/
CREATE DATABASE [DBUniv1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrimerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DB\MSSQL\DATA\PrimerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrimerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DB\MSSQL\DATA\PrimerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBUniv1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBUniv1]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 1/09/2025 10:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_cliente] [int] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[Email] [varchar](100) NULL,
	[Fecha_de_registro] [date] NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[ID_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesPedidos]    Script Date: 1/09/2025 10:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesPedidos](
	[ID_detalle] [int] IDENTITY(1,1) NOT NULL,
	[ID_pedido] [int] NOT NULL,
	[Producto] [nvarchar](100) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 1/09/2025 10:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[ID_Empleado] [int] NULL,
	[Nombre] [varchar](20) NULL,
	[Apellido] [varchar](30) NULL,
	[Edad] [numeric](2, 0) NULL,
	[Telefono] [numeric](9, 0) NULL,
	[direccion] [varchar](200) NULL,
	[Fecha_de_nacimiento] [date] NULL,
	[Salario] [decimal](18, 2) NULL,
	[Activo] [char](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 1/09/2025 10:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[ID_pago] [int] IDENTITY(1,1) NOT NULL,
	[ID_pedido] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Fecha_pago] [date] NOT NULL,
	[Metodo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 1/09/2025 10:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[ID_pedido] [int] NOT NULL,
	[ID_cliente] [int] NOT NULL,
	[Fecha_de_pedido] [date] NULL,
	[Monto_total] [decimal](10, 2) NULL,
	[Estado] [varchar](20) NULL,
 CONSTRAINT [PK_pedido] PRIMARY KEY CLUSTERED 
(
	[ID_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([ID_cliente], [Nombre], [Apellido], [Direccion], [Email], [Fecha_de_registro]) VALUES (1, N'Juan', N'Pérez', N'Pasaje alto selva alegre', N'juan.perez@email.com', CAST(N'2020-10-10' AS Date))
INSERT [dbo].[Clientes] ([ID_cliente], [Nombre], [Apellido], [Direccion], [Email], [Fecha_de_registro]) VALUES (2, N'María', N'Gómez', N'Calle siglo 20, rotonda principal', N'maria.gomez@email.com', CAST(N'2021-05-08' AS Date))
INSERT [dbo].[Clientes] ([ID_cliente], [Nombre], [Apellido], [Direccion], [Email], [Fecha_de_registro]) VALUES (3, N'Jose', N'Alvarez', N'Av Angamos, pasaje 2do', N'jose.alvarez@email.com', CAST(N'2021-11-26' AS Date))
GO
SET IDENTITY_INSERT [dbo].[DetallesPedidos] ON 

INSERT [dbo].[DetallesPedidos] ([ID_detalle], [ID_pedido], [Producto], [Cantidad], [Precio_unitario]) VALUES (1, 1, N'Laptop Dell Inspiron', 1, CAST(250.75 AS Decimal(10, 2)))
INSERT [dbo].[DetallesPedidos] ([ID_detalle], [ID_pedido], [Producto], [Cantidad], [Precio_unitario]) VALUES (2, 2, N'Auriculares Sony', 1, CAST(82.50 AS Decimal(10, 2)))
INSERT [dbo].[DetallesPedidos] ([ID_detalle], [ID_pedido], [Producto], [Cantidad], [Precio_unitario]) VALUES (3, 3, N'Teclado Mecánico', 1, CAST(100.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallesPedidos] OFF
GO
INSERT [dbo].[Empleados] ([ID_Empleado], [Nombre], [Apellido], [Edad], [Telefono], [direccion], [Fecha_de_nacimiento], [Salario], [Activo]) VALUES (1, N'Nicolas', N'Aguero', CAST(35 AS Numeric(2, 0)), CAST(987654321 AS Numeric(9, 0)), N'Avenida Rich, Urb. Urquisos', CAST(N'1990-10-10' AS Date), CAST(5000.00 AS Decimal(18, 2)), N'Si')
INSERT [dbo].[Empleados] ([ID_Empleado], [Nombre], [Apellido], [Edad], [Telefono], [direccion], [Fecha_de_nacimiento], [Salario], [Activo]) VALUES (2, N'Camila', N'Monroy', CAST(27 AS Numeric(2, 0)), CAST(975318642 AS Numeric(9, 0)), N'Calle Central, Casona 431', CAST(N'1997-04-15' AS Date), CAST(3500.00 AS Decimal(18, 2)), N'Si')
INSERT [dbo].[Empleados] ([ID_Empleado], [Nombre], [Apellido], [Edad], [Telefono], [direccion], [Fecha_de_nacimiento], [Salario], [Activo]) VALUES (3, N'David', N'Montes', CAST(30 AS Numeric(2, 0)), CAST(968431275 AS Numeric(9, 0)), N'Av. Occidental, Rotonda principal', CAST(N'1995-07-12' AS Date), CAST(7000.00 AS Decimal(18, 2)), N'No')
GO
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([ID_pago], [ID_pedido], [Monto], [Fecha_pago], [Metodo]) VALUES (1, 1, CAST(250.75 AS Decimal(10, 2)), CAST(N'2025-09-01' AS Date), N'Tarjeta de Crédito')
INSERT [dbo].[Pagos] ([ID_pago], [ID_pedido], [Monto], [Fecha_pago], [Metodo]) VALUES (2, 2, CAST(82.50 AS Decimal(10, 2)), CAST(N'2025-09-02' AS Date), N'Yape')
INSERT [dbo].[Pagos] ([ID_pago], [ID_pedido], [Monto], [Fecha_pago], [Metodo]) VALUES (3, 3, CAST(150.00 AS Decimal(10, 2)), CAST(N'2025-09-03' AS Date), N'Efectivo')
SET IDENTITY_INSERT [dbo].[Pagos] OFF
GO
INSERT [dbo].[Pedidos] ([ID_pedido], [ID_cliente], [Fecha_de_pedido], [Monto_total], [Estado]) VALUES (1, 1, CAST(N'2020-10-10' AS Date), CAST(250.75 AS Decimal(10, 2)), N'completado')
INSERT [dbo].[Pedidos] ([ID_pedido], [ID_cliente], [Fecha_de_pedido], [Monto_total], [Estado]) VALUES (2, 2, CAST(N'2021-05-09' AS Date), CAST(82.50 AS Decimal(10, 2)), N'procesando')
INSERT [dbo].[Pedidos] ([ID_pedido], [ID_cliente], [Fecha_de_pedido], [Monto_total], [Estado]) VALUES (3, 3, CAST(N'2021-11-30' AS Date), CAST(150.00 AS Decimal(10, 2)), N'pendiente')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__A9D105340A969E87]    Script Date: 1/09/2025 10:04:04 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[DetallesPedidos]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedidos_Pedidos] FOREIGN KEY([ID_pedido])
REFERENCES [dbo].[Pedidos] ([ID_pedido])
GO
ALTER TABLE [dbo].[DetallesPedidos] CHECK CONSTRAINT [FK_DetallePedidos_Pedidos]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Pedidos] FOREIGN KEY([ID_pedido])
REFERENCES [dbo].[Pedidos] ([ID_pedido])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Pedidos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_enlace_cliente] FOREIGN KEY([ID_cliente])
REFERENCES [dbo].[Clientes] ([ID_cliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_enlace_cliente]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD CHECK  (([Estado]='Cancelado' OR [Estado]='Completado' OR [Estado]='Procesando' OR [Estado]='Pendiente'))
GO
USE [master]
GO
