USE [master]
GO
/****** Object:  Database [PC2]    Script Date: 13/10/2025 07:14:48 ******/
CREATE DATABASE [PC2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PC2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DB\MSSQL\DATA\PC2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PC2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DB\MSSQL\DATA\PC2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PC2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PC2]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 13/10/2025 07:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[ID_Categoria] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [text] NULL,
	[Categoria_padre_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 13/10/2025 07:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[DNI] [varchar](8) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NULL,
	[Fecha_registro] [date] NOT NULL,
	[Departamento] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[Distrito] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_pedido]    Script Date: 13/10/2025 07:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_pedido](
	[ID_Detalle] [int] NOT NULL,
	[ID_Pedido] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio_unitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 13/10/2025 07:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[DNI] [varchar](8) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NULL,
	[Cargo] [varchar](50) NOT NULL,
	[Fecha_contratacion] [date] NOT NULL,
	[Salario] [decimal](8, 2) NULL,
	[Departamento] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 13/10/2025 07:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[ID_Movimiento] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Ruc_proveedor] [varchar](11) NULL,
	[Tipo_movimiento] [varchar](10) NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha_movimiento] [date] NOT NULL,
	[DNI_Empleado] [varchar](8) NULL,
	[Observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 13/10/2025 07:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[ID_pedido] [int] NOT NULL,
	[DNI_cliente] [varchar](8) NOT NULL,
	[Fecha_pedido] [date] NOT NULL,
	[Estado] [varchar](20) NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Direccion_entrega] [varchar](200) NOT NULL,
	[Metodo_pago] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 13/10/2025 07:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID_Producto] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [text] NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[ID_Categoria] [int] NULL,
	[Stock] [int] NOT NULL,
	[Marca] [varchar](50) NULL,
	[Fecha_creacion] [date] NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 13/10/2025 07:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Ruc] [varchar](11) NOT NULL,
	[Nombre_empresa] [varchar](100) NOT NULL,
	[Contacto_nombre] [varchar](100) NULL,
	[Telefono] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[Departamento] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre], [Descripcion], [Categoria_padre_ID]) VALUES (1, N'Electrónicos', N'Productos electrónicos y tecnológicos', NULL)
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre], [Descripcion], [Categoria_padre_ID]) VALUES (2, N'Computadoras', N'Laptops y PCs de escritorio', 1)
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre], [Descripcion], [Categoria_padre_ID]) VALUES (3, N'Periféricos', N'Mouse, teclados, audífonos', 1)
GO
INSERT [dbo].[Clientes] ([DNI], [Nombre], [Apellido], [Direccion], [Email], [Telefono], [Fecha_registro], [Departamento], [Provincia], [Distrito]) VALUES (N'01234567', N'Carmen', N'Vargas', N'Jr. Huallaga 741', N'carmen.vargas@email.com', N'987654330', CAST(N'2020-10-25' AS Date), N'Lima', N'Lima', N'Rimac')
INSERT [dbo].[Clientes] ([DNI], [Nombre], [Apellido], [Direccion], [Email], [Telefono], [Fecha_registro], [Departamento], [Provincia], [Distrito]) VALUES (N'10111213', N'Katherine', N'Flores', N'Calle Almagro 913', N'katherine.flores@email.com', N'987654340', CAST(N'2021-08-24' AS Date), N'Arequipa', N'Arequipa', N'Yanahuara')
INSERT [dbo].[Clientes] ([DNI], [Nombre], [Apellido], [Direccion], [Email], [Telefono], [Fecha_registro], [Departamento], [Provincia], [Distrito]) VALUES (N'11223344', N'Ricardo', N'Silva', N'Av. Alfonso Ugarte 852', N'ricardo.silva@email.com', N'987654331', CAST(N'2020-11-08' AS Date), N'Lima', N'Lima', N'Cercado')
GO
INSERT [dbo].[Detalles_pedido] ([ID_Detalle], [ID_Pedido], [ID_Producto], [Cantidad], [Precio_unitario], [Subtotal]) VALUES (1, 5001, 1001, 1, CAST(1899.90 AS Decimal(10, 2)), CAST(1899.90 AS Decimal(10, 2)))
INSERT [dbo].[Detalles_pedido] ([ID_Detalle], [ID_Pedido], [ID_Producto], [Cantidad], [Precio_unitario], [Subtotal]) VALUES (2, 5001, 1002, 1, CAST(49.90 AS Decimal(10, 2)), CAST(49.90 AS Decimal(10, 2)))
INSERT [dbo].[Detalles_pedido] ([ID_Detalle], [ID_Pedido], [ID_Producto], [Cantidad], [Precio_unitario], [Subtotal]) VALUES (3, 5002, 1003, 1, CAST(199.90 AS Decimal(10, 2)), CAST(199.90 AS Decimal(10, 2)))
GO
INSERT [dbo].[Empleados] ([DNI], [Nombre], [Apellido], [Email], [Telefono], [Cargo], [Fecha_contratacion], [Salario], [Departamento]) VALUES (N'09876539', N'Francisco', N'Luna', N'francisco.luna@empresa.com', N'987123484', N'Gerente RH', CAST(N'2025-03-20' AS Date), CAST(5800.00 AS Decimal(8, 2)), N'Recursos Humanos')
INSERT [dbo].[Empleados] ([DNI], [Nombre], [Apellido], [Email], [Telefono], [Cargo], [Fecha_contratacion], [Salario], [Departamento]) VALUES (N'09876541', N'Alberto', N'Peña', N'alberto.pena@empresa.com', N'987123474', N'Contador Senior', CAST(N'2023-07-30' AS Date), CAST(4500.00 AS Decimal(8, 2)), N'Finanzas')
INSERT [dbo].[Empleados] ([DNI], [Nombre], [Apellido], [Email], [Telefono], [Cargo], [Fecha_contratacion], [Salario], [Departamento]) VALUES (N'09876543', N'Miguel', N'Vargas', N'miguel.vargas@empresa.com', N'987123464', N'Gerente Marketing', CAST(N'2021-11-10' AS Date), CAST(6000.00 AS Decimal(8, 2)), N'Marketing')
GO
INSERT [dbo].[inventario] ([ID_Movimiento], [ID_Producto], [Ruc_proveedor], [Tipo_movimiento], [Cantidad], [Fecha_movimiento], [DNI_Empleado], [Observaciones]) VALUES (1, 1001, N'20123456789', N'entrada', 50, CAST(N'2024-01-10' AS Date), N'65432105', N'Stock inicial')
INSERT [dbo].[inventario] ([ID_Movimiento], [ID_Producto], [Ruc_proveedor], [Tipo_movimiento], [Cantidad], [Fecha_movimiento], [DNI_Empleado], [Observaciones]) VALUES (2, 1002, N'20123456789', N'entrada', 100, CAST(N'2024-01-10' AS Date), N'65432105', N'Stock inicial')
INSERT [dbo].[inventario] ([ID_Movimiento], [ID_Producto], [Ruc_proveedor], [Tipo_movimiento], [Cantidad], [Fecha_movimiento], [DNI_Empleado], [Observaciones]) VALUES (3, 1003, N'20123456789', N'entrada', 50, CAST(N'2024-01-10' AS Date), N'65432105', N'Stock inicial')
GO
INSERT [dbo].[Pedidos] ([ID_pedido], [DNI_cliente], [Fecha_pedido], [Estado], [Total], [Direccion_entrega], [Metodo_pago]) VALUES (5001, N'12345678', CAST(N'2024-01-15' AS Date), N'entregado', CAST(1949.80 AS Decimal(10, 2)), N'Av. Arequipa 123, Miraflores', N'Tarjeta de Crédito')
INSERT [dbo].[Pedidos] ([ID_pedido], [DNI_cliente], [Fecha_pedido], [Estado], [Total], [Direccion_entrega], [Metodo_pago]) VALUES (5002, N'23456789', CAST(N'2024-01-16' AS Date), N'enviado', CAST(249.80 AS Decimal(10, 2)), N'Jr. de la Unión 456, Cercado de Lima', N'PayPal')
INSERT [dbo].[Pedidos] ([ID_pedido], [DNI_cliente], [Fecha_pedido], [Estado], [Total], [Direccion_entrega], [Metodo_pago]) VALUES (5003, N'34567890', CAST(N'2024-01-18' AS Date), N'entregado', CAST(3199.90 AS Decimal(10, 2)), N'Av. Javier Prado 789, San Isidro', N'Tarjeta de Débito')
GO
INSERT [dbo].[Productos] ([ID_Producto], [Nombre], [Descripcion], [Precio], [ID_Categoria], [Stock], [Marca], [Fecha_creacion], [Activo]) VALUES (1001, N'Laptop HP Pavilion', N'Laptop HP 15.6 pulgadas, 8GB RAM, 512GB SSD', CAST(2499.90 AS Decimal(10, 2)), 2, 25, N'HP', CAST(N'2023-01-15' AS Date), 1)
INSERT [dbo].[Productos] ([ID_Producto], [Nombre], [Descripcion], [Precio], [ID_Categoria], [Stock], [Marca], [Fecha_creacion], [Activo]) VALUES (1002, N'Mouse Inalámbrico Logitech', N'Mouse óptico inalámbrico USB, 1600 DPI', CAST(59.90 AS Decimal(10, 2)), 3, 100, N'Logitech', CAST(N'2023-02-20' AS Date), 1)
INSERT [dbo].[Productos] ([ID_Producto], [Nombre], [Descripcion], [Precio], [ID_Categoria], [Stock], [Marca], [Fecha_creacion], [Activo]) VALUES (1003, N'Teclado Mecánico Redragon', N'Teclado mecánico RGB español latino', CAST(229.90 AS Decimal(10, 2)), 3, 45, N'Redragon', CAST(N'2023-03-10' AS Date), 1)
GO
INSERT [dbo].[Proveedores] ([Ruc], [Nombre_empresa], [Contacto_nombre], [Telefono], [Email], [Direccion], [Departamento]) VALUES (N'20123456780', N'Distribuidora Tech Perú', N'María López', N'014567891', N'contacto@techperu.com', N'Jr. Los Olivos 456', N'Lima')
INSERT [dbo].[Proveedores] ([Ruc], [Nombre_empresa], [Contacto_nombre], [Telefono], [Email], [Direccion], [Departamento]) VALUES (N'20123456781', N'ElectroMundo EIRL', N'Carlos Mendoza', N'014567892', N'info@electromundo.com', N'Av. Argentina 789', N'Callao')
INSERT [dbo].[Proveedores] ([Ruc], [Nombre_empresa], [Contacto_nombre], [Telefono], [Email], [Direccion], [Departamento]) VALUES (N'20123456782', N'Muebles Elegance SAC', N'Ana García', N'014567893', N'ventas@elegancemuebles.com', N'Calle Los Pinos 321', N'Lima')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__clientes__A9D10534B8D4C055]    Script Date: 13/10/2025 07:14:48 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__A9D10534DC65637F]    Script Date: 13/10/2025 07:14:48 ******/
ALTER TABLE [dbo].[Empleados] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Detalles_pedido]  WITH CHECK ADD FOREIGN KEY([ID_Pedido])
REFERENCES [dbo].[Pedidos] ([ID_pedido])
GO
ALTER TABLE [dbo].[Detalles_pedido]  WITH CHECK ADD FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Productos] ([ID_Producto])
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD FOREIGN KEY([DNI_Empleado])
REFERENCES [dbo].[Empleados] ([DNI])
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Productos] ([ID_Producto])
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD FOREIGN KEY([Ruc_proveedor])
REFERENCES [dbo].[Proveedores] ([Ruc])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([DNI_cliente])
REFERENCES [dbo].[Clientes] ([DNI])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categorias] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD CHECK  (([tipo_movimiento]='Ajuste' OR [tipo_movimiento]='Salida' OR [tipo_movimiento]='Entrada'))
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD CHECK  (([estado]='Cancelado' OR [estado]='Entregado' OR [estado]='Enviado' OR [estado]='En_preparacion' OR [estado]='Confirmado' OR [estado]='Pendiente'))
GO
USE [master]
GO
